@media screen and (max-width: 1200px){
    header{
        width: 980px;
    }
    .container{
        width: 980px;
    }
    .main-home h1{
        font-size: 27px;
    }
    main{
        width: 980px;
    }
    .card{
        max-width: 450px;
        padding: 10px;
        border-radius: 14px;
        box-shadow: rgba(0, 0, 0, 0.082) 0px 0px 20px;
        text-align: center;
    }
    .cards{
        width: 980px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
    }
}

@media screen and (max-width: 1000px) {
    header{
        width: 800px;
        gap: 10px;
    }
    .container{
        width: 800px;
        flex-direction: column-reverse;
    }
    .main-home h1{
        font-size: 27px;
    }
    .main-home p{
        max-width: 800px;
    }
    .main-start{
        gap: 20px;
    }
    .side-post h1{
        font-size: 20px;
        min-width: 200px;
    }
    main{
        width: 800px;
    }
    .card{
        max-width: 390px;

    }
    .cards{
        width: 800px;
        gap: 10px;
    }
    .container img:nth-child(1){
        width: 640px;
    }

}

@media screen and (max-width:830px){
    header{
        width: 600px;
        gap: 10px;
        align-items: center;
    }
    header ul{
        display: none;
    }
    .fa-sharp{
        display: block;
        cursor: pointer;
    }
    .container{
        width: 600px;
    }

    .main-home h1{
        max-width: 600px;
    }
    .container div:nth-child(2){
        justify-content: center;
    }
    .container img:nth-child(1){
        width: 600px;
    }

    .main-home{
        margin: auto;
    }
    .main-home p{
        max-width: 600px;
    }
    main{
        width: 600px;
    }
    .card{
        max-width: 450px;
        padding: 30px;
        border-radius: 14px;
        box-shadow: rgba(0, 0, 0, 0.082) 0px 0px 20px;
        text-align: center;
    }
    .cards{
        width: 600px;
        gap: 30px;
        justify-content: center;
    }
    .main-start{
        gap: 0px;
        flex-direction: column;
        justify-content: center;
    }
    .search{
        align-items: center;
    }
    .search i{
        padding-left: 30px;
    }
    
    .menu-drop{
        display: inline;
        position: absolute;
        top: 130px;
        width: 600px;
        height: 700px;
        backdrop-filter: blur(4px);
        background: #9f6dc2(255, 255, 255, 0.500);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        -webkit-backdrop-filter: blur( 13.5px );
    }
    

    .menu-drop li{
        text-align: center;
        padding: 30px;
        font-size: 24px;
    }

}

@media screen and (max-width: 610px) {
    header{
        width: 400px;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    #logo{
        width: 100px;
    }
    header input{
        width: 120px;
    }
    .container{
        width: 400px;
    }
    .container div:nth-child(2){
        text-align: center;
    }
    .container img:nth-child(1){
        width: 400px;
    }
    .main-home p{
        max-width: 400px;
        font-size: 16px;
    }
    .main-home h1{
        max-width: 400px;
        font-size: 20px;
    }
    .post-one{
        width: 400px;
        margin: auto;
    }
    .post-one img:nth-child(1){
        width: 400px;
    }
    .main-start{
        width: 400px;
        margin: auto;
    }
    .side-post{
        padding-top: 30px;
        width: 400px;
        margin: auto;
    }
    .cards{
        width: 400px;
        margin: auto;
    }
    main{
        width: 400px;
    }

    .menu-drop{
        width: 550px;
        height: 700px;

    }
    
}

@media screen and (max-width:410px) {
    header{
        width: 320px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    #logo{
        width: 180px;
    }
    header input{
        width: 160px;
    }
    .container img:nth-child(1){
        width: 320px;
    } 
     .main-home p{
        max-width: 400px;
        font-size: 16px;
    }
    .main-home h1{
        max-width: 320px;
        font-size: 20px;
    }
    .main-home{
        max-width: 320px;
    }
    .post-one{
        width: 320px;
        margin: auto;
    }
    .post-one img:nth-child(1){
        width: 320px;
    }
    .main-start{
        width: 320px;
        margin: auto;
    }
    .side-post{
        padding-top: 30px;
        width: 320px;
        margin: auto;
    }
    .cards{
        width: 320px;
        margin: auto;
    }
    .card img{
        width: 250px;
    }
    main{
        width: 320px;
    }
    .container{
        max-width: 320px;
    }

    .menu-drop{
        top: 200px;
        width: 410px;
        height: 650px;
    }
    
}
