:root{
    --main-color-bg-h1: #290742;
    --color-purple-light: #9E6DC2;
    --color-bg-font: #FBF6FF;
    --color-border: #4FFF4B;
    --color-bg-input: #170027;
    --main-width: 1169.14px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg-font);
}

.home{
    background: var(--main-color-bg-h1);
}

.home:nth-child(2){
    border-bottom: var(--color-border) 4px solid;
}

header{
    background: var(--main-color-bg-h1);
    display: flex;
    justify-content: space-between;
    padding: 64px 0px;
    width: var(--main-width);
    margin: auto;
}
ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Roboto;
}

header span{
    font-weight: bold;
    border-left: 2px solid var(--color-border);
    padding-left: 3px;
}

input{
    border: none;
    border-radius: 4px 0 0 4px;
    width: 230px;
    height: 44px;
    outline: none;
    background: var(--color-bg-input);
    color: var(--color-bg-font);
    padding-left: 25px;
}

.search{
    display: flex;
}

ul{
    display: flex;
    gap: 32px;
    align-items: center;
}

.container{
    background: var(--main-color-bg-h1);
    display: flex;
    justify-content: space-between;
    padding-bottom: 69px;
    width: var(--main-width);
    margin: auto;
    gap: 30px;
}

.container h1{
    font-family: 'Poppins', sans-serif;
    color: var(--color-purple-light);
    font-size: 36px;
    margin-bottom: 16px;
}

.container p{
    color: var(--color-bg-font);
    font-family: Roboto;
    font-size: 18px;
    max-width: 500px;
    line-height: 27px;
}

button{
    width: 70px;
    height: 44px;
    border-radius: 0 4px 4px 0;
    border: none;
    background: var(--color-purple-light);
    color: #F2E7FA;
    cursor: pointer;
}

.button-arrow{
    display: flex;
    margin-top: 24px;
    cursor: pointer;
}

.button-arrow p {
    color: var(--color-purple-light);
    font-weight: bold;
    padding-right: 8px;
}

.main-home{
    display: flex;
    flex-direction: column;
}

main{
    width: var(--main-width);
    margin: auto;
    margin-top: 60px;
}

.main-start{
    display: flex;
    gap: 130px;
}

.post-one{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 63.79px;
    font-family: Roboto;
}

.post-one h1{
    color: #290742;
}

.post-one p{
    line-height: 24px;
    max-width: 569px;
}

.post-one img {
    width: 569px;
}

.side-post{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.side-post h1{
    color: var(--main-color-bg-h1);
    font-family: Poppins;
}

.side-post p{
    margin-bottom: 54px;
    line-height: 24px;
}

.side-post-two{
    display: flex;
    flex-direction: column;
}

.side-post-two p {
    line-height: 24px;
}

.side-post-two h1{
    font-family: Roboto;
    margin: 8px 0px;
}

.cards{
    width: var(--main-width);
    display: flex;
    margin-bottom: 67.58px;
    font-family: Roboto;
    justify-content: space-around;
}

.cards h1{
    color: var(--main-color-bg-h1);
    margin: 8px 0px;
    line-height: 36px;
}

.cards p{
    line-height: 24px;
}

.card img{
    margin-bottom: 15.97px;
}



